/* ===== ERROR 404 ===== */
.error__404 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: var(--bg-color);
  min-height: 100vh;
  padding: 0 2rem;
}

.error__404 .error__text h1 {
  font-size: clamp(calc(var(--fs-header) * 4), 20vw, calc(var(--fs-header) * 8));
  line-height: 0.75;
  color: var(--text-color);
  font-weight: var(--fw-700);
  letter-spacing: clamp(-2.25rem, -2vw, -0.125rem);
}

.error__404 .error__text h1 > span {
  text-shadow: -8px 0px 0px var(--main-color);
}

.error__404 .error__title {
  font-size: clamp(24px, 5vw, 32px);
  color: var(--text-color);
  margin: 0 0 1.5rem 0;
  line-height: 1.1;
  -webkit-text-stroke: 1px var(--main-color);
  text-shadow: -1px 0 0 var(--main-color), -1px 0.5px 0 var(--main-color), -1px -0.5px 0 var(--main-color);
}

.error__404 .error__title i {
  -webkit-text-stroke: 0px var(--main-color);
}

.error__404 .error__message {
  font-size: var(--fs-subheader);
  color: var(--text-body-color);
  margin: 1rem 0 3rem 0;
  padding: 0;
}

.error__404 .error__btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 0.25rem;
  font-size: var(--fs-subheader);
  color: var(--text-color);
  padding: 0.5rem 1.5rem;
  background-color: var(--button-color);
  border: 1px solid var(--button-border);
  border-radius: 8px;
  overflow: hidden;
  transition: background-color var(--transition) ease, box-shadow var(--transition) ease, transform var(--transition) ease, border-color var(--transition) ease;
  &:hover {
    background-color: var(--button-hover);
    border-color: var(--dark-green-color);
    box-shadow: 0 0 10px var(--dark-green-color), 0 0 50px var(--dark-green-color);
  }
  &:active {
    transform: scale(0.95);
  }
}

.error__404 .error__btn svg {
  width: 22px;
  height: 22px;
  transition: color var(--transition) ease;
}

.error__404 .error__btn:hover svg {
  stroke: var(--dark-green-color);
  stroke-width: 0.25px;
}

.error__404 .error__btn:hover [class*="btn__star-"] {
  animation: spark 1.25s ease-in-out forwards;
  animation-delay: var(--star-delay);
}

.error__404 .error__btn:hover .btn__star-1 {
  transform-origin: 17px 5px;
}

.error__404 .error__btn:hover .btn__star-2 {
  transform-origin: 8px 12px;
}

.error__404 .error__btn:hover .btn__star-3 {
  transform-origin: 18px 18px;
}

@keyframes spark {
  0%,
  100% {
    transform: rotate(0deg);
    opacity: 1;
  }

  60% {
    opacity: 1;
  }

  80% {
    transform: rotate(360deg);
    opacity: 0;
  }

  85% {
    transform: rotate(0);
    opacity: 0;
  }
}

@media (max-width: 768px) {
  .error__404 .error__btn:hover [class*="btn__star-"] {
    animation: none;
  }
}
