/* ===== GENERAL ===== */
:root {
  --main-font: "Poppins", sans-serif;

  --fs-header: 24px;
  --fs-subheader: 16px;
  --fs-body: 14px;
  /* --fs-body: 14px; */
  --fs-small: 12px;
  --fs-tiny: 10px;
  --fs-icon-xl: 32px;

  --fw-800: 800;
  --fw-700: 700;
  --fw-600: 600;
  --fw-500: 500;
  --fw-400: 400;
  --fw-300: 300;
  --italic-font: italic;

  --transition: 0.3s;

  --border-radius: 8px;
  --rounded-radius: 24px;
  --circle-radius: 50%;

  --principal-color: #cd3332;

  --red-color: #cd3332;
  --light-green-color: #accc32;
  --dark-green-color: #32cd70;
  --blue-color: #3370cc;
  --purple-color: #ac33cd;

  --main-color: #fff;
  --secondary-color: #f6f7f6;
  --bg-color: #fff;
  --text-color: #000;
  --text-body-color: #686868;
  --text-hover: #484848;
  --button-color: #f6f6f6;
  --button-hover: #eeeeee;
  --button-border: #e5e5e5;
  --active-color: #e5e5e5;

  --border-primary: #999999;
  --border-secondary: #dddddd;

  --input-color: #fff;
  --input-border-color: #cdcccd;
  --input-border-focus: #888888;
}

.dark {
  --principal-color: #32cccd;

  --red-color: #bf4040;
  --light-green-color: #a7be40;
  --dark-green-color: #41be73;
  --blue-color: #4072be;
  --purple-color: #a640bf;

  --main-color: #000;
  --secondary-color: #202120;
  --bg-color: #181818;
  --text-color: #fff;
  --text-body-color: #a3a3a3;
  --text-hover: #cfcfcf;
  --border-primary: #444444;
  --border-secondary: #333333;
  --button-color: #222222;
  --button-hover: #2a2a2a;
  --button-border: #333333;
  --active-color: #323333;

  --input-color: #0f0e0e;
  --input-border-color: #333232;
  --input-border-focus: #fff;
}

html {
  box-sizing: border-box;
  font-family: var(--main-font);
  font-size: var(--fs-body);
  scroll-behavior: smooth;
  scrollbar-width: none;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: var(--bg-color);
  color: var(--text-color);
  min-height: 100vh;
  overflow-x: hidden;
  padding: 0;
  margin: 0;
  transition: color var(--transition) ease, background-color var(--transition) ease, border-color var(--transition) ease;
}

img {
  max-width: 100%;
  height: auto;
}

img,
a {
  -webkit-user-drag: none;
  user-select: none;
}

h1,
h2,
h3,
h4,
h5,
p,
span,
a {
  padding: 0;
  margin: 0;
  user-select: none;
  text-decoration: none;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* ===== Layout ===== */
main {
  flex-grow: 1;
  /* max-width: 1750px; */
  /* margin: 0 auto; */
}

main h1 {
  font-size: var(--fs-header);
  font-weight: var(--fw-600);
}

main h2 {
  font-size: var(--fs-subheader);
  font-weight: var(--fw-600);
}

main h3 {
  font-size: var(--fs-body);
  font-weight: var(--fw-600);
}

main p {
  color: var(--text-body-color);
  font-size: var(--fs-body);
  font-weight: var(--fw-400);
}

/* ===== Navbar ===== */
header {
  position: sticky;
  top: 0;
  z-index: 999;
}

.navbar__header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: var(--secondary-color);
  border-bottom: 1px solid var(--border-primary);
  padding: 1rem clamp(1rem, 2vw, 2rem);
  z-index: 990;
}

.navbar__header .navbar__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.navbar__container .navbar__toggle__btn {
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0.5rem;
  padding: 0;
  background-color: inherit;
  border: none;
  cursor: pointer;
  &:hover .toggle__bar {
    background-color: var(--text-hover);
  }
}

.navbar__container .navbar__toggle__btn .toggle__bar {
  width: 25px;
  height: 3px;
  background-color: var(--text-color);
  transition: transform var(--transition) ease, background-color var(--transition) ease, opacity var(--transition) ease;
}

.navbar__container a {
  display: inline-flex;
  color: var(--text-color);
  font-weight: var(--fw-400);
  position: relative;
  text-decoration: none;
  transition: color var(--transition) ease, transform var(--transition) ease;
  &:hover {
    color: var(--text-hover);
  }
  &:active {
    transform: scale(0.975);
  }
}

.navbar__container .navbar__links {
  display: flex;
  align-items: center;
  list-style: none;
  text-align: start;
  font-size: var(--fs-body);
  background-color: var(--secondary-color);
  gap: 1rem;
  padding: 0;
  margin: 0;
}

.navbar__links .links__separator {
  display: none;
  width: 100%;
  color: var(--text-color);
  opacity: 0.5;
}

.navbar__links li a {
  padding: 0.25rem 0.75rem;
  border: 1px solid transparent;
  border-radius: var(--border-radius);
}

.navbar__links li a.active {
  border: 1px solid var(--border-primary);
  border-radius: var(--border-radius);
  background-color: var(--active-color);
}

.navbar__container .user__profile__icon {
  font-size: var(--fs-icon-xl);
}

@media (max-width: 768px) {
  .navbar__container .navbar__toggle__btn {
    display: flex;
  }

  .navbar__container .navbar__links {
    flex-direction: column;
    align-items: start;
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    max-width: clamp(16rem, 50vw, 20rem);
    height: 100vh;
    padding: 5rem clamp(1rem, 2vw, 2rem);
    border-left: 1px solid var(--border-primary);
    transform: translate(100%, 0);
    transition: transform var(--transition) ease;
  }

  .navbar__links .links__separator {
    display: flex;
    width: 100%;
    height: 1px;
    background-color: var(--text-color);
    opacity: 0.5;
  }

  .navbar__links li {
    width: 100%;
  }

  .navbar__links li a {
    padding: 0.5rem 0.75rem;
    width: 100%;
  }

  .navbar__links li a.active {
    border: 1px solid var(--border-primary);
    border-radius: var(--border-radius);
    background-color: var(--active-color);
  }

  .navbar__links li a.active::after {
    display: none;
  }

  .navbar__links li:last-child {
    text-align: center;
  }

  .navbar__container .navbar__links.collapsed {
    transform: translate(0, 0);
  }

  .navbar__container .navbar__toggle__btn {
    z-index: 995;
    align-items: end;
  }

  .navbar__toggle__btn .toggle__bar:nth-child(2) {
    width: 20px;
  }

  .navbar__toggle__btn .toggle__bar:last-child {
    width: 15px;
  }

  .navbar__toggle__btn.active .toggle__bar:first-child {
    transform: rotate(-45deg) translateY(8px) translateX(-6px);
  }

  .navbar__toggle__btn.active .toggle__bar:nth-child(2) {
    opacity: 0;
  }

  .navbar__toggle__btn.active .toggle__bar:last-child {
    transform: rotate(45deg) translateY(-8px) translateX(-6px);
    width: 100%;
  }
}

/* ===== Theme switcher ===== */
.theme__switcher {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 0.125rem;
  padding: 0.25rem;
  border: 1px solid var(--border-primary);
  border-radius: var(--rounded-radius);
}

.theme__switcher .theme__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  cursor: pointer;
  z-index: 2;
  &:hover .theme__tooltip {
    opacity: 1;
  }
}

.theme__switcher .theme__icon button {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: var(--circle-radius);
  background-color: transparent;
  height: 30px;
  width: 30px;
  z-index: 2;
  cursor: inherit;
  border: none;
  outline: none;
}

.theme__switcher .theme__icon.active button {
  background-color: var(--active-color);
}

.theme__switcher .theme__icon button i {
  color: var(--text-color);
  opacity: 0.5;
  line-height: 1.25;
  font-size: var(--fs-body);
  transition: opacity var(--transition) ease;
}

.theme__switcher .theme__icon .theme__tooltip {
  position: absolute;
  bottom: -35px;
  text-wrap: nowrap;
  background-color: var(--main-color);
  font-size: var(--fs-small);
  font-weight: var(--fw-300);
  padding: 0.25rem 0.5rem;
  border-radius: 8px;
  border: 1px solid var(--border-secondary);
  opacity: 0;
  pointer-events: none;
  transition: opacity var(--transition) ease;
}

.theme__switcher .theme__icon:hover button i,
.theme__switcher .theme__icon.active button i {
  opacity: 1;
}

@media (max-width: 992px) {
  .theme__switcher .theme__icon:hover .theme__tooltip {
    opacity: 0;
  }
}

/* ===== footer ===== */
footer {
  display: block;
  text-align: center;
  padding: 2rem 0 1rem 0;
  border-top: 1px solid var(--border-primary);
  background-color: var(--secondary-color);
  z-index: 999;
}

footer .footer__socials {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  margin: 0 0 1.5rem 0;
}

footer .footer__socials a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  width: 45px;
  height: 45px;
  color: var(--text-body-color);
  border: 1px solid var(--border-primary);
  border-radius: 50%;
  transition: color var(--transition) ease, border-color var(--transition) ease;
  &:hover {
    border-color: var(--text-color);
    color: var(--text-color);
  }
}

footer .footer__socials a i {
  font-size: var(--fs-header);
}

footer .footer__links {
  display: flex;
  max-width: 500px;
  margin: 0 auto 1.5rem auto;
  padding: 0 1.5rem;
  list-style: none;
}

footer .footer__links li {
  flex: 1;
  text-align: center;
}

footer .footer__links li a {
  color: var(--text-color);
  position: relative;
  font-weight: var(--fw-400);
  display: inline-flex;
  transition: color var(--transition) ease;
  &:hover {
    color: var(--text-hover);
  }
  &:hover::after {
    width: 100%;
    left: 0;
  }
}

footer .footer__links li a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 1.5px;
  /* background-color: var(--principal-color); */
  background-color: var(--text-hover);
  border-radius: 5px;
  transition: width var(--transition) ease, left var(--transition) ease;
}

footer .footer__copyright {
  font-size: var(--fs-small);
  font-weight: var(--fw-300);
  color: var(--text-body-color);
}

footer .footer__copyright .heart {
  color: var(--red-color);
  opacity: 0.75;
}

/* ========== HOME ========== */
.home__section {
  width: 100%;
  max-width: 1750px;
  min-height: 100%;
  display: flex;
  margin: 0 auto;
  overflow-y: hidden;
  padding: 1rem clamp(1rem, 2vw, 2rem) 0 clamp(1rem, 2vw, 2rem);
  /* border-bottom: 2px solid var(--border-primary); */
}

.home__header {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.header__presentation {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 50%;
  min-width: 0;
}

.header__presentation .presentation__title {
  width: 100%;
}

.header__presentation .presentation__title h2 {
  font-size: clamp(calc(var(--fs-header) * 1.75), 4vw, calc(var(--fs-header) * 2.5));
  font-weight: var(--fw-600);
  padding: 0 0 0 4rem;
}

.header__presentation .presentation__title .name__line {
  display: flex;
  align-items: baseline;
  gap: 2rem;
  width: 100%;
  margin: 0 0 2rem -2rem;
}

.header__presentation .presentation__title .name__line .line {
  width: 20%;
  max-width: 150px;
  height: clamp(2px, 0.5vw, 5px);
  background-color: var(--principal-color);
}

.header__presentation .presentation__title .name__line h3 {
  font-size: clamp(var(--fs-header), 4vw, calc(var(--fs-header) * 1.75));
  font-weight: var(--fw-400);
  color: var(--text-body-color);
}

.header__presentation .presentation__title h1 {
  font-size: clamp(calc(var(--fs-header) * 1.25), 4vw, calc(var(--fs-header) * 2.5));
  font-weight: var(--fw-600);
  padding: 0 0 0 4rem;
}

.header__presentation .presentation__buttons {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin-top: clamp(1rem, 3vw, 4rem);
}

.presentation__buttons .knowme-btn,
.presentation__buttons .resume-btn {
  display: inline-flex;
  align-items: center;
  color: var(--text-color);
  font-size: var(--fs-body);
  border: 2px solid transparent;
  background-color: transparent;
  text-align: center;
  padding: clamp(0.5rem, 1vw, 1rem) clamp(1rem, 2vw, 2rem);
  transition: transform var(--transition) ease, box-shadow var(--transition) ease;
  &:active {
    transform: scale(0.95);
  }
}

.presentation__buttons .knowme-btn {
  background-color: var(--principal-color);
  position: relative;
  &:hover .border__button {
    transform: translate(5px, 5px);
  }
}

.knowme-btn .border__button {
  position: absolute;
  width: 100%;
  height: 100%;
  border: 2px solid var(--principal-color);
  top: 0;
  left: 0;
  transition: transform var(--transition) ease;
}

.presentation__buttons .knowme-btn {
  border: 5px 5px 0 var(--principal-color);
}

.presentation__buttons .resume-btn {
  border-color: var(--principal-color);
  &:hover {
    box-shadow: 5px 5px 0 var(--principal-color);
  }
}

/* Picture */
.header__picture {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 50%;
  max-width: clamp(550px, 50vw, 600px);
  margin: 0 auto;
}

.header__picture .picture {
  width: 100%;
  max-width: clamp(300px, 40vw, 450px);
  height: auto;
  z-index: 2;
}

.header__picture .neon__background {
  position: absolute;
  width: 100%;
  max-width: clamp(250px, 40vw, 400px);
  height: 100%;
  max-height: clamp(250px, 40vw, 400px);
  border-radius: 50%;
  background: radial-gradient(circle, transparent 0%, var(--principal-color) 70%);
  filter: blur(5rem);
  opacity: 0.75;
  z-index: 0;
  transition: filter calc(var(--transition) * 2) ease;
}

.header__picture:hover .neon__background {
  filter: blur(2.5rem);
}

.header__picture .background__circle {
  position: absolute;
  width: clamp(250px, 30vw, 350px);
  height: clamp(250px, 30vw, 350px);
  border: 2rem solid var(--principal-color);
  border-radius: var(--circle-radius);
  filter: drop-shadow(2px 2px 0px var(--main-color));
  z-index: 1;
  transition: transform calc(var(--transition) * 2) ease;
}

.header__picture:hover .background__circle {
  transform: scale(1.025);
}

.header__picture .arrows {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.header__picture .arrow__left,
.header__picture .arrow__right {
  position: absolute;
  width: clamp(calc(var(--fs-icon-xl) * 3.5), 15vw, calc(var(--fs-icon-xl) * 4.5));
  height: clamp(calc(var(--fs-icon-xl) * 3.5), 15vw, calc(var(--fs-icon-xl) * 4.5));
  stroke-width: 10px;
  filter: drop-shadow(2px 2px 0px var(--main-color));
  z-index: 2;
  transition: transform calc(var(--transition) * 2) ease;
}

.header__picture .arrow__left {
  top: 1rem;
  left: -2rem;
}

.header__picture:hover .arrow__left {
  transform: scale(1.05) translateX(-4px);
}

.header__picture .arrow__right {
  bottom: 1rem;
  right: -2rem;
}

.header__picture:hover .arrow__right {
  transform: scale(1.05) translateX(4px);
}

@media (max-width: 768px) {
  .header__presentation {
    width: 100%;
    margin: 0 0 4rem 0;
  }

  .header__presentation .presentation__title h2 {
    text-align: center;
    padding: 0;
  }

  .header__presentation .presentation__title .name__line {
    flex-direction: column-reverse;
    align-items: center;
    gap: 0;
    margin: 0;
  }

  .header__presentation .presentation__title h1 {
    text-align: center;
    padding: 1rem 0;
  }

  .presentation__buttons .knowme-btn:hover .border__button {
    transform: translate(0);
  }

  .presentation__buttons .resume-btn:hover {
    box-shadow: none;
  }

  .header__picture {
    width: 100%;
  }
}

/* ========== TAGLINE ========== */
.tagline__section {
  display: block;
  width: 100%;
  text-align: center;
  padding: 1rem 0;
  /* margin: 0 0 4rem 0; */
  background-color: var(--secondary-color);
  border-top: 1px solid var(--border-primary);
  border-bottom: 1px solid var(--border-primary);
}

.tagline__section .tagline {
  display: inline-block;
  color: transparent;
  font-size: var(--fs-body);
  font-weight: var(--fw-500);
  background: linear-gradient(-30deg, var(--text-body-color) 70%, var(--text-color), var(--text-body-color) 75%) right/400%;
  background-clip: text;
  background-repeat: repeat;
  animation: shimmer 6s linear infinite;
}

@keyframes shimmer {
  100% {
    background-position: left;
  }
}

/* ========== GOAL ========== */
.overview__section {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 1750px;
  gap: 1rem;
  padding: 0 clamp(1rem, 2vw, 2rem);
  margin: clamp(4rem, 8vw, 8rem) auto;
}

.overview__section .highlights__container {
  display: flex;
  align-items: center;
  justify-content: start;
  width: 25%;
  gap: 1rem;
}

.highlights__container .timeline__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: auto;
  height: 100%;
  min-height: 200px;
  gap: 1rem;
}

.highlights__container .timeline__wrapper .lines {
  width: 5px;
  height: 100%;
  background-color: var(--principal-color);
  flex: 1;
  border-radius: var(--border-radius);
}

.highlights__container .timeline__wrapper .points {
  width: 5px;
  height: 5px;
  aspect-ratio: 1 / 1;
  background-color: var(--principal-color);
  border-radius: 50%;
}

.highlights__container .highlights__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: start;
  height: 100%;
  min-height: 200px;
}

.highlights__container .highlights__wrapper p {
  display: inline-flex;
  align-items: center;
  font-size: var(--fs-subheader);
  font-weight: var(--fw-400);
  gap: clamp(0.5rem, 1vw, 1rem);
  transition: transform calc(var(--transition) * 2) ease;
}

.highlights__container .highlights__wrapper p:hover {
  transform: translateX(4px);
}

.highlights__container .highlights__wrapper p i {
  font-size: var(--fs-icon-xl);
}

.overview__section .goals__wrapper {
  display: flex;
  flex-direction: column;
  gap: clamp(2rem, 4vw, 4rem);
  width: 75%;
}

.goals__wrapper .goal h1 {
  display: inline-flex;
  align-items: baseline;
  font-size: var(--fs-header);
  font-weight: var(--fw-600);
  gap: 0.5rem;
  margin: 0 0 0.75rem 0;
}

.goals__wrapper .goal h1 i {
  transition: color var(--transition) ease;
}

.goals__wrapper .goal:hover h1 i {
  animation: blink 1.25s step-start infinite;
}

@keyframes blink {
  0%,
  100% {
    color: inherit;
  }
  50% {
    color: var(--principal-color);
  }
}

.goals__wrapper .goal p {
  text-align: justify;
  font-size: var(--fs-body);
  font-weight: var(--fw-400);
}

.goals__wrapper .goal p span {
  font-style: var(--italic-font);
  font-weight: var(--fw-500);
}

.goals__wrapper .objectives__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.objectives__wrapper .objective {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  transition: transform calc(var(--transition) * 2) ease;
}

.objectives__wrapper .objective:hover {
  transform: translateY(-4px);
}

.objectives__wrapper .objective h1 {
  font-size: calc(var(--fs-header) * 1.25);
}

.objectives__wrapper .objective h1 i {
  color: var(--principal-color);
}

@media (max-width: 768px) {
  .overview__section {
    flex-direction: column-reverse;
    gap: 4rem;
  }

  .overview__section .highlights__container,
  .overview__section .goals__wrapper {
    width: 100%;
  }

  .overview__section .highlights__container {
    justify-content: center;
    gap: 2rem;
  }

  .highlights__container .highlights__wrapper p:hover,
  .objectives__wrapper .objective:hover {
    transform: none;
  }
}

/* ========== TECH STACK SECTION ========== */
.stack__section {
  margin: 0 auto;
  border-top: 1px solid var(--border-primary);
}

.stack__section .stack__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1750px;
  margin: 0 auto;
  width: 100%;
  gap: 1rem;
  padding: clamp(4rem, 8vw, 8rem) clamp(1rem, 2vw, 2rem);
}

.stack__section h1 {
  display: inline-block;
  position: relative;
  font-size: calc(var(--fs-header) * 1.5);
  font-weight: var(--fw-600);
  margin: 0 0 2rem 0;
}

.stack__section h1 i {
  font-weight: var(--fw-500);
  color: var(--principal-color);
}

.stack__section h1::after {
  content: "";
  display: block;
  width: 50%;
  height: 5px;
  background: var(--principal-color);
  border-radius: var(--border-radius);
  margin: 0.25rem auto 0;
}

.stack__section .stack__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  width: 100%;
}

.stack__wrapper .stack__category {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 1rem;
  width: calc(100% / 3);
  max-width: 20rem;
  background-color: var(--secondary-color);
  border: 1px solid var(--border-primary);
  border-radius: var(--rounded-radius);
  padding: 1.5rem;
  transition: transform var(--transition) ease, border-color var(--transition) ease;
  &:hover {
    /* transform: translateY(-4px); */
    border-color: var(--principal-color);
  }
}

.stack__category .title {
  display: block;
  width: 100%;
  padding: 0 0 0.5rem 0;
  border-bottom: 1px solid var(--border-primary);
}

.stack__category .title h2 {
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  font-size: var(--fs-subheader);
  font-weight: var(--fw-500);
}

.stack__category .title h2 i {
  font-size: var(--fs-icon-xl);
  font-weight: var(--fw-300);
  color: var(--principal-color);
}

.stack__category .category {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 0.5rem;
  width: 100%;
  padding: 0.5rem 0.5rem;
  /* background-color: var(--bg-color); */
  border: 1px solid var(--border-primary);
  border-radius: var(--border-radius);
  transition: background-color var(--transition) ease;
}

.stack__category .category:hover {
  background-color: var(--input-border-color);
}

.stack__category .category img {
  width: 100%;
  height: auto;
  max-width: var(--fs-header);
  aspect-ratio: 1 / 1;
  /* filter: grayscale(100%); */
}

@media (max-width: 768px) {
  .stack__section .stack__wrapper {
    flex-wrap: wrap;
    /* flex-direction: column; */
    gap: 2rem;
  }

  .stack__wrapper .stack__category {
    width: calc(100% / 2);
  }
}

@media (max-width: 576px) {
  .stack__wrapper .stack__category {
    width: 100%;
  }
}

/* TECHHHH */
.tech__section {
  margin: 0 auto 4rem auto;
  border-top: 1px solid var(--border-primary);
}

.tech__container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1750px;
  gap: 1rem;
  padding: 0 clamp(1rem, 2vw, 2rem);
  margin: clamp(4rem, 8vw, 8rem) auto;
}

.tech__container .title {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
}

.tech__container .title h1 {
  text-align: start;
  position: relative;
  margin: 0 2rem;
  font-size: clamp(var(--fs-header), 4vw, calc(var(--fs-header) * 3));
  line-height: 1;
  font-weight: var(--fw-600);
  z-index: 1;
}

.tech__container .title h1::after {
  content: "";
  position: absolute;
  background-color: var(--principal-color);
  width: 30%;
  height: 5px;
  left: 0px;
  bottom: 0px;
  z-index: -1;
  transition: width 0.6s ease;
}

.tech__container .title:hover h1::after {
  width: 75%;
}

.tech__container .title i {
  color: transparent;
  font-size: calc(var(--fs-icon-xl) * 7);
  font-weight: var(--fw-500);
  opacity: 0.125;
  -webkit-text-stroke: clamp(2.5px, 1vw, 5px) var(--principal-color);
  position: absolute;
  transition: transform 0.6s ease;
}

.tech__container .title:hover i {
  transform: scale(1.05);
}

.tech__wrapper {
  display: grid;
  flex-grow: 1;
  padding: 0 2rem;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  align-content: center;
  justify-items: flex-start;
}

.tech-item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
  border: 1px solid var(--border-primary);
  border-radius: var(--border-radius);
  padding: 1rem;
  width: 100%;
  transition: border-color var(--transition) ease, background-color var(--transition) ease, transform var(--transition) ease;
}

.tech-item:hover {
  border-color: var(--principal-color);
  background-color: var(--secondary-color);
  transform: translateY(-4px);
}

.tech-item .icon {
  background-color: var(--secondary-color);
  border-radius: var(--border-radius);
  padding: 1rem;
  display: flex;
  align-items: center;
}

.tech-item .icon img {
  min-width: 40px;
  transition: transform var(--transition) ease;
}

.tech-item:hover .icon img {
  transform: scale(1.1);
}

/* .tech-item .text {
} */

.text h1 {
  line-height: 1.25;
}

.text p {
  color: var(--text-body-color);
  line-height: 1.25;
}
