---
import "../styles/style.css";
import Global from "@components/global.astro";
---

<head>
  <Global title="404" />
</head>

<div class="error-404">
  <h1>404</h1>
  <p>Oops... la página no existe. <i class="ti ti-unlink"></i></p>
  <a href="/">Volver al inicio</a>
</div>

<script type="module" src="/src/scripts/script.js"></script>
