---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Home" description="Página principal">
  <h1>Index</h1>
  <p>This is an example for index</p> <br>
  <h2>Lorem Ipsum</h2>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto ipsam maiores magni, deserunt eius architecto aut totam molestiae iste non quos facere fugiat neque at officiis incidunt a. Facilis, dolor?</p>
</Layout>