---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Home" description="Página principal">
  <!-- ========== HOME SECTION ========== -->
  <section class="home__section">
    <div class="home__header">
      <div class="header__presentation">
        <div class="presentation__title">
          <h2>¡Hello!</h2>
          <div class="name__line">
            <div class="line"></div>
            <h3>I'm Luis Jabalera</h3>
          </div>
          <h1>Software Developer</h1>
        </div>
        <div class="presentation__buttons">
          <a href="#" class="knowme-btn">
            <div class="border__button"></div>
            Got a project?
          </a>
          <a href="#" class="resume-btn">My resume</a>
        </div>
      </div>
      <div class="header__picture">
        <img class="picture" src="src/assets/index/man.png" alt="" />
        <div class="neon__background"></div>
        <div class="background__circle"></div>
        <div class="arrows">
          <svg class="arrow__left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
            <defs>
              <linearGradient id="grad-top" x1="0%" y1="100%" x2="0%" y2="0%">
                <stop offset="0%" stop-color="var(--principal-color)" stop-opacity=".1"></stop>
                <stop offset="100%" stop-color="var(--principal-color)" stop-opacity="1"></stop>
              </linearGradient>
            </defs>
            <path d="M10.8284 12.0007L15.7782 16.9504L14.364 18.3646L8 12.0007L14.364 5.63672L15.7782 7.05093L10.8284 12.0007Z" fill="none" stroke="url(#grad-top)" stroke-width=".75" stroke-linecap="round" stroke-linejoin="round"></path>
          </svg>
          <svg class="arrow__right" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
            <defs>
              <linearGradient id="grad-bottom" x1="0%" y1="0%" x2="0%" y2="100%">
                <stop offset="0%" stop-color="var(--principal-color)" stop-opacity=".1"></stop>
                <stop offset="100%" stop-color="var(--principal-color)" stop-opacity="1"></stop>
              </linearGradient>
            </defs>
            <path d="M13.1717 12.0007L8.22192 7.05093L9.63614 5.63672L16.0001 12.0007L9.63614 18.3646L8.22192 16.9504L13.1717 12.0007Z" fill="none" stroke="url(#grad-bottom)" stroke-width=".75" stroke-linecap="round" stroke-linejoin="round"></path>
          </svg>
        </div>
      </div>
    </div>
  </section>

  <!-- ========== TAGLINE SECTION ========== -->
  <section class="tagline__section">
    <p class="tagline">"Transforming ideas into digital experiences."</p>
  </section>

  <!-- ========== OVERVIEW SECTION ========== -->
  <section class="overview__section">
    <div class="highlights__container">
      <ul class="timeline__wrapper">
        <li class="lines"></li>
        <li class="points"></li>
        <li class="lines"></li>
        <li class="points"></li>
        <li class="lines"></li>
      </ul>
      <div class="highlights__wrapper">
        <p><i class="ri-global-line"></i> Website Development</p>
        <p><i class="ri-palette-line"></i> UX/UI Design</p>
        <p><i class="ri-tools-fill"></i> Full-Stack Mindset</p>
      </div>
    </div>
    <div class="goals__wrapper">
      <div class="goal">
        <h1><i class="ri-terminal-line"></i>Why I code?</h1>
        <p>My goal is to write <span>maintainable, clean, and understandable code</span> that makes development an enjoyable experience. To me, programming is an <span>art</span>: combining creativity and logic to transform ideas into reality. Every project I work on is an opportunity to keep <span>learning</span> and <span>growing</span>.</p>
      </div>
      <div class="objectives__wrapper">
        <div class="objective">
          <h1>10 <i class="ri-add-line"></i></h1>
          <p>Completed Projects</p>
        </div>
        <div class="objective">
          <h1>95 <i class="ri-percent-line"></i></h1>
          <p>Client Satisfaction</p>
        </div>
        <div class="objective">
          <h1>1 <i class="ri-add-line"></i></h1>
          <p>Years of experience</p>
        </div>
      </div>
    </div>
  </section>

  <!-- ========== TECH STACK SECTION ========== -->
  <section class="stack__section">
    <div class="title">
      <h1>Tech Stack</h1>
      <!-- <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1896 502">
        <path
          d="m268 594 1-2h2q2 0 1 2-2 5-4 0m583-26v2q1 1 1-1zm6 1v2l1-1zm-8-1v1q0 2 0 0zm267-5-1 2q2 2 2-1zm-507 23q0 2 1 1v-1zm318-12 1-1a1 1 0 0 0-2 0m10 0-1 1 1 1 1-1zm-334 12v2zm-221-14q-3-3-3 1h4zm-107 29c0 2-5 1-5-1h-1a2 2 0 0 1-3 3l1-3q2-1-1-1-5 0-2 3v2l6 1q5 1 6-1 2-2 0 0l1 1-1-4zm156-43-1 1zm-174 41v3h1zm185-42v-1q1-1-2-1l-4 1-1 1q0 3 3 1zq0-1 0 0M304 291q0-3-1-2v2zm-19-39-1-1-1 1a1 1 0 0 0 2 1m15 69 3-1 5-1 3-1h1l-3-2-3 1h-7l-3 1 1 2q3 3 3 1m-23 13a1 1 0 0 0-2-1l-1 1 1 1zm-57 196v-1zm-4 0v-1zq0 2 1 0m76-210h-2zm-81 236v-2zm966-173-24-5-5-2-2-4c0-2 1-1 11-1l13 1 6 1 4-1q0-3-5-3c-6 0-15-5-17-9q-2-4 7-3l7-1 2-2v2l2-4q1-2-3-1l-4-1-5-1q-10-3-7-4l9-3 3-1-2-1h-1l-5-1-7-2-4-1q-2 0-1-1l5-1 5-1 4-1q8 0 2-2l-4-1-4-2-4-1 1-3q0-4 9-2h6l4-2q9-1 0-4l-4-2-4-1q-6-2-5-3 2-1-5-3-9-3-7-5 3-1-1-3l-1-1v-1c1 1 6 0 5-1l-13-2-6-2-5-2-5-2-4-2-5-2-7-2-12-1-8-2-10-1q-11-4-2-3l4-1q9-4 3-5l-3-1-10-1c-14-1-16-1-16-3q2-2-10-3l-17-1-9-1q-2 0 1-2 4-1 4-3l-4-1h6l29 1 23 1 6-1h8l1-1-6-1-11-2-55-6-15-2-45-7-3-2-3-1-2-1-10-1-80-9-9-2-6-1-5-1h3l9-1q7 1 6-2-2-3 9-1l42 5 8 1 20 3h4l9 1q11 2 8-3h20l2-1h1l4 1 4 1h14l2 1 1 1 3-1 4 1 3 1h5l-1 2h11l8 2q15 0 18 2l3 1 3-3-2-1h-3l-3-1h-4l-6-1h-6l-3-1-3-1h-4l-2 1q0 2 0 0v-2l-1 1-1 1h-1v-2l-15-2-4-1-23-3a122 122 0 0 1-34-6l16 1 14 1h18l4 1 9 2h2l1-2 3 1 9 2 16 1h5q0 1 0 0l4 1 3-1 1 2 2 2 1-5h-4l-3-1h-1l-1-1-2-1-1 1v1l-1-2-7-2h-6l-4-1-3-1-5-1-19-3-22-3-16-2-6-1-7-1-19-2-22-1-9-1-9-1-13-1a522 522 0 0 1-90-9l-21-1 1 2h-55l-42 2-13 2-16-1-3-2-17 2h-9l-11 1-6 1-10 2-11 1-10 2c-35 7-35 7-36 5l2-2 3-3 1-2q-2 1-1-2l-1-2h-2v-1l-1-3q-1-3-9-1l-7 3-26 7-19 6-5 1-5 2-8 3-24 8q-6 2-7 1 0-2-10 1l-8 1-3 1-18 4-8 1-13 1h-3l-9 2a628 628 0 0 0-74 18l-3 2-3 2-2 1v1l14-1 7-2h3l3-1 16-3 13-2 8-1q9 0 5 1l-5 1-5 2-8 2q-5 0-6 2v1l-4-1-3 1q0 3-4 1l-2-2h-1l-3 1q-1 1 1 1l1-1-1 2-1 3 1-1h1l2 1 1-1v-1h1l18-1h11l10 1q2 1-2 2l-4 2-2 1h-1l-3 3-2 2-1 1 2 2q3 1-1 2l-2 1h-4l-1 1q1-1-2-2-3 1-1 3h-1q-3-2-1 1v1l1 3 1 2 1 1h15l4 1v1l-7 2-2 1q0 3-4 3a4 4 0 0 0-5 3q0 2 2 3l1 3h-1q0-3-1 0t-1 0q-2-3-1 0l-1 1-1 1-2 1-2 2-1 1v1l-1 2-1 1-2-1-3 1q-3 0-1 1h-1l-1-3v-2l2-1q1 1 0 0l-1-1v-1h3l2-1h-1l-2-1v-1l1-2q1-3-4 1-4 3-2 5v1l-4 2v1l-1 1-2 6q0 3 1 1 0-1 0 0 1 3 5 5l2-1 2-1 2 1 1 1a1 1 0 0 0 1-2l1 1h2l1-1v-1q-1-2 0 0h2l1-1 2-1 3-1 18-3 12-1 12-1q7-1 9 1h2l-2 1-4 1-12 3-9 1q-11-1-9 3v7q2 3-1 4l-22 4-3-2q-2-3-3 0l-5 2q-9 2-14 5-2 1 3 1 7 0 6 4v3l2 1q2 2 13 1h7q2 1-1 2l-1 2 1 2 1 1-9 2-11 3 1 2 1 1 1 1 1 1h-3l-4-2-4-1h-7l-2 1v1h2q1 3 8 3 3 0 1 1l-3 1-3 1c-1 2-9 5-13 6l-4 2-9 3q-12 3-11 5 0 6-8 11-6 3-4 4 0 2-5 6l-5 6q0 5 8 2l10-1q-2 3 3 3l5 1-1 1-4 3 1 2q7 4 1 6l-4 3-5 3q-9 3-11 7l3 2 2 1-15 5-7 2-8 2-7 2q-6 1-7 4 0 5 7 6l3 1-2 4-2 3 2-1 5-1q6-1 2 2l-4 5q0 2 1 1l14-3h6l4 1q9 0-5 5l-10 3-2 2h2c1 1 15-2 16-4l9-2 2 4 1 1-1 1c-2 0-7 5-8 7s0 4 1 4l3 2 2 2-2 1-7 1-18 3q-3 3 1 5 5 2 2 3-3 3-1 3l1-1q0-1 0 0h2v1l-1 2-1 2 7-1a35 35 0 0 1 17 1q3 1 2 2l-2 2-2 2-3 3v2l2 1h2c2 0-6 4-9 4l-4 1-6 3-6 2-1 1-1 2-1 2h12l5 1-2 2-2 3v3l-1 1 1 1 1 1-3 3-13 4-7 3q-3 3-1 3 3 3 8 2l14-2 7-1h11l1-1c1-2 17-1 21 1l9 2q6 0 9 4l2 1h-7q-4 1-3 3 0 3 2 2l6 3q1 2 0 0-1-1 0 0l1 1h4l5 2 25 3q9-1 8-3l1-1q1-1-1-1l-3-1v-1a1 1 0 0 0 0-2h-1l-1 2-2 1-4 2q-4 3-5 0h2a1 1 0 0 0 0-2v-2c1-3 15-5 18-2h2l2 1 2-1 3-1 7-1 8-2 2-2 1-1 1-1q13-2 10-4l2-1 4-2 6-1h4l2-2 2-2 6-2 5-2 1-1q0-2 0 0 1 2 1-1c0-3 2 0 3 0l4-1 8-2 9-2 18-1 16-1 3 1 1 1 3 1q1 3 6 1l36-1q0 2-8 4l-4 2h-3l-4 1-3 1-1 5 1 1-2 1-4 3-4 2-2 1-4 2-6 2-4 1-4 4-2 2-1 1-2 2q-3 1-2 2h2v3l1-1q0-3 2-2v2l-1 1v5h-1l1 1v8l2 3 1 3 1 2v2l3-1 7-1 7-2 21-2 3-3q4-6 27-8l24-4 12-1 28-4v-1q1-1 2 1 2 3 2 0v-2h-2l-3-2v-1l3-1 12-2 13-1 4 1q0 2 1 1l3-1 3-1 8-1 6-1h5l5-1c1 1 6-1 7-2l7-1 7-1 17-1 21-1 7 1c1 1 6 0 6-1l2-2 1-2c-3-2 2-6 6-6l29-2 25 1h34l6 1v-1q-1-1 1-1l1 2 1 1h2l1-2q0-2 0 0c1 1 2 2 12 2q6 0 5 1 1 2 4 1 2-1 8 1l3 1 2 1 3 1q2-1 2 1l1-1c1-2 3-1 14-1l18 1 18 1 16 1 19 2 25 3 5 1 7 1 13 2 12 2q11 0 30 6h40l3-1 6-1q5-1 1-3l-2-1h8q2-1-1-3l-3-2 7-1 7-1q0-2-5-3l-4-1-5-2q-19-5-18-7v-3l1-1 10 3 9 3-1-1 5-1h4l-3-3q-10-4-9-6v-2c1-1 10 1 14 3 3 2 12 3 12 2l-1-2 1-4 1-4-4-1c-7-1-14-5-13-7q3-1-5-3l-4-2h10q3 2 5-1 1-4 7-1 7 4 7 1l3-2 4-3 2-1h1q1-2-2-4h-1l1-1 2-3 1 1h1v-4q2-4-1-4l-2-2-2-2-1-2 4-2 5-2 2-1h1q1 1 2-2l1-4h1l1-1q0-4-11-8l-5-3-2-1v-1q0-2 3-2l1-1 2-1c3 1 9 1 10-1l6-1h5l2-1 4-2 1-3q0-1 0 0l2-4-1-2-4-3q-6-3-2-6v-2l-2-1-1-1-2-1-5-1-4-2q-6-1 9-1l13 1h9l1-1q4-1 5-5l-1-2h-1l-8-2-6-4-5-3-2-1v-2l3-1 1-1q0-3 4-3 9 0 6-2-3-1 0-1-2-5-1-8l1-3 2-1 7 2h5v-1l-1-2-1-1-1-2v-4q-2-3 2-5l1-1 1-1 1-1v-1h1q1-3-9-4m-896-75v-2zm383-138q2 1 0 0m59 6h-3l2 1zm-43-16q2 0 1-1t1-1q2 1 0 1l1 1 1 1v1h1l3-1h3l11 1 84 3 3 1h22l1-1 1 1 6-1h8l3 1 11 2v-1c0-1 4-1 4 1l2-1 2 1h5q11 0 8-1v-2l-3-1h-4q-3 2-3-1h-1l-1 2-2 1v-3l-15-2-4-1-25-2-10-1v1h-1l-1-1-32-3-21-1-29-1c-16 0-20 1-21 2h-1q0-2-1 1l-2 2v-2l-1-2v1h-2l-1 1-2 2v2zm-3-3-1-1zm10 15v1zm23 2 2-1zm4 0q2 0-1-2zm179-3q3-2-1-2l-2 1-1 1zm171 50v1zq-2-3-2 0zm8 9h2zm-13-12q1 3 2 0 0-4-1 0zq-1 0 0 0m-194-49 6 1h7q2-1 2 1l7-1v-1l-2-1-4-1h-7l-2-2-1 2q1 2 0 0-1-3-2-1-2 3-2 0v-1l-1 1-1 1h-2zm-333 10 1-1a1 1 0 0 0-2 0zm5 5q3 1 8-2l2-1 1 1a1 1 0 0 0 0-2l1-1 1 1q2 4 3 1h2l3-1h1q2 1 2-2-1 0 0 0v1c0 1 11-1 11-3l6-1 1 1 1-1 1-1 1 1h2l4-1q7 0 5-1l2-1h3l1-1 5 2 6 1h2l4-1h6l7 1h4l7-1q1-2-5-3l-4-1h2q3 0 4-3l2-3-3-1-3-2-13 1-32 4-23 4-5 1-3 1v1q3 0 0 2l-1-1-1-2-2-1v1h-1q-1-2-3 1h-1l-1-1-1 1q1 2-3 3l-2 1-1 1-1 1v3l-1 1q-2 0-1 2m105-12 4 1 4-2 1 1q-1 2 2 1h1q1 2 4-1 3-4 1 0h2q3-1 0-2h-12q-9 0-6 2m6-15q-1 0 0 0m-118 24v-2q-1-2-1 1zm121-19v-5 2l-1 2-1 1zm7-3-1-2-1 2 1 2v2h3q4 0 3-2h1q1 1 1-1v-1l-1-1q1-3 3 2 0 3 4 2l3-1-1-1v-2l-1-3q-1-3-2 2-2 4-2 1l1-1 1-1h-2l-1-1-2 1h-3l-3 1 1 1v2q-2 3-2-1m17-2v-2h-1zm405 74q-2-1-5 1zm-424-74h2l1 1q0-2-2-2l-2 1q-1 3 1 0m-3 4 1-1-1-2z"
        ></path>
      </svg> -->
    </div>
    <div class="stack__wrapper">
      <div class="stack__category">
        <h2>Frontend</h2>
        <ul>
          <li><i class="ri-html5-line"></i> HTML</li>
          <li><i class="ri-css3-line"></i> CSS</li>
          <li><i class="ri-javascript-line"></i> JavaScript</li>
          <li><i class="ri-bootstrap-line"></i> Bootstrap</li>
        </ul>
      </div>
      <div class="stack__category">
        <h2>Backend</h2>
        <ul>
          <li><i class="ri-java-fill"></i> Java</li>
          <li><i class="ti ti-brand-python"></i>Python</li>
          <li><i class="ri-database-2-line"></i> MySql</li>
          <li><i class="ri-database-line"></i> SQL Server</li>
        </ul>
      </div>
      <div class="stack__category">
        <h2>Tools</h2>
        <ul>
          <li><i class="ri-git-branch-line"></i> Git</li>
          <li><i class="ri-github-fill"></i> GitHub</li>
          <li>VS Code</li>
          <li><i class="ri-nodejs-fill"></i> Node.js</li>
        </ul>
      </div>
    </div>
  </section>

  <!-- ========== RECENT WORKS SECTION ========== -->
</Layout>
