---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Home" description="Página principal">
  <!-- ========== HOME SECTION ========== -->
  <section class="home__section">
    <div class="home__header">
      <div class="header__presentation">
        <div class="presentation__title">
          <h2>¡Hello!</h2>
          <div class="name__line">
            <div class="line"></div>
            <h3>I'm Luis Jabalera</h3>
          </div>
          <h1>Software Developer</h1>
        </div>
        <div class="presentation__buttons">
          <a href="#" class="knowme-btn">
            <div class="border__button"></div>
            Got a project?
          </a>
          <a href="#" class="resume-btn">My resume</a>
        </div>
      </div>
      <div class="header__picture">
        <img class="picture" src="src/assets/index/man.png" alt="" />
        <div class="neon__background"></div>
        <div class="background__circle"></div>
        <div class="arrows">
          <svg class="arrow__left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
            <defs>
              <linearGradient id="grad-top" x1="0%" y1="100%" x2="0%" y2="0%">
                <stop offset="0%" stop-color="var(--principal-color)" stop-opacity=".1"></stop>
                <stop offset="100%" stop-color="var(--principal-color)" stop-opacity="1"></stop>
              </linearGradient>
            </defs>
            <path d="M10.8284 12.0007L15.7782 16.9504L14.364 18.3646L8 12.0007L14.364 5.63672L15.7782 7.05093L10.8284 12.0007Z" fill="none" stroke="url(#grad-top)" stroke-width=".75" stroke-linecap="round" stroke-linejoin="round"></path>
          </svg>
          <svg class="arrow__right" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
            <defs>
              <linearGradient id="grad-bottom" x1="0%" y1="0%" x2="0%" y2="100%">
                <stop offset="0%" stop-color="var(--principal-color)" stop-opacity=".1"></stop>
                <stop offset="100%" stop-color="var(--principal-color)" stop-opacity="1"></stop>
              </linearGradient>
            </defs>
            <path d="M13.1717 12.0007L8.22192 7.05093L9.63614 5.63672L16.0001 12.0007L9.63614 18.3646L8.22192 16.9504L13.1717 12.0007Z" fill="none" stroke="url(#grad-bottom)" stroke-width=".75" stroke-linecap="round" stroke-linejoin="round"></path>
          </svg>
        </div>
      </div>
    </div>
  </section>

  <!-- ========== TAGLINE SECTION ========== -->
  <section class="tagline__section">
    <p class="tagline">"Transforming ideas into digital experiences."</p>
  </section>

  <!-- ========== OVEWVIEW SECTION ========== -->
  <section class="overview__section">
    <div class="highlights__container">
      <div class="timeline__wrapper">
        <div class="lines"></div>
        <div class="points"></div>
        <div class="lines"></div>
        <div class="points"></div>
        <div class="lines"></div>
      </div>
      <div class="highlights__wrapper">
        <p><i class="ri-global-line"></i> Website Development</p>
        <p><i class="ri-palette-line"></i> UI/UX Design</p>
        <p><i class="ri-tools-fill"></i> Full-Stack Mindset</p>
      </div>
    </div>
    <div class="goals__wrapper">
      <div class="goal">
        <h1><i class="ri-terminal-line"></i>Why I code?</h1>
        <p>My goal is to write maintainable, clean, and understandable code that makes development an enjoyable experience. To me, programming is an art: combining creativity and logic to transform ideas into reality. I believe programming is not only about solving problems, but also about creating efficient and meaningful solutions. Every project I work on is an opportunity to keep learning, growing, and obtaining better results.</p>
      </div>
      <div class="objectives__wrapper">
        <div class="objective">
          <h1>10 <i class="ri-add-line"></i></h1>
          <p>Completed Projects</p>
        </div>
        <div class="objective">
          <h1>95 <i class="ri-percent-line"></i></h1>
          <p>Client Satisfaction</p>
        </div>
        <div class="objective">
          <h1>1 <i class="ri-add-line"></i></h1>
          <p>Years of experience</p>
        </div>
      </div>
    </div>
  </section>
</Layout>
