---
import Layout from "../layouts/Layout.astro";
---

<Layout description="Homepage">
  <!-- ========== HOME SECTION ========== -->
  <section class="home__section">
    <div class="home__header">
      <div class="header__presentation">
        <div class="presentation__title">
          <h2>¡Hello!</h2>
          <div class="name__line">
            <div class="line"></div>
            <h3>I'm Luis Jabalera</h3>
          </div>
          <h1>Software Developer</h1>
        </div>
        <div class="presentation__buttons">
          <a href="#" class="knowme-btn">
            <div class="border__button"></div>
            Got a project?
          </a>
          <a href="#" class="resume-btn">My resume</a>
        </div>
      </div>
      <div class="header__picture">
        <img class="picture" src="src/assets/index/man.png" alt="" />
        <div class="neon__background"></div>
        <div class="background__circle"></div>
        <div class="arrows">
          <svg class="arrow__left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
            <defs>
              <linearGradient id="grad-top" x1="0%" y1="100%" x2="0%" y2="0%">
                <stop offset="0%" stop-color="var(--principal-color)" stop-opacity=".1"></stop>
                <stop offset="100%" stop-color="var(--principal-color)" stop-opacity="1"></stop>
              </linearGradient>
            </defs>
            <path d="M10.8284 12.0007L15.7782 16.9504L14.364 18.3646L8 12.0007L14.364 5.63672L15.7782 7.05093L10.8284 12.0007Z" fill="none" stroke="url(#grad-top)" stroke-width=".75" stroke-linecap="round" stroke-linejoin="round"></path>
          </svg>
          <svg class="arrow__right" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
            <defs>
              <linearGradient id="grad-bottom" x1="0%" y1="0%" x2="0%" y2="100%">
                <stop offset="0%" stop-color="var(--principal-color)" stop-opacity=".1"></stop>
                <stop offset="100%" stop-color="var(--principal-color)" stop-opacity="1"></stop>
              </linearGradient>
            </defs>
            <path d="M13.1717 12.0007L8.22192 7.05093L9.63614 5.63672L16.0001 12.0007L9.63614 18.3646L8.22192 16.9504L13.1717 12.0007Z" fill="none" stroke="url(#grad-bottom)" stroke-width=".75" stroke-linecap="round" stroke-linejoin="round"></path>
          </svg>
        </div>
      </div>
    </div>
  </section>

  <!-- ========== TAGLINE SECTION ========== -->
  <section class="tagline__section">
    <p class="tagline">"Transforming ideas into digital experiences."</p>
  </section>

  <!-- ========== OVERVIEW SECTION ========== -->
  <section class="overview__section">
    <div class="highlights__container">
      <ul class="timeline__wrapper">
        <li class="lines"></li>
        <li class="points"></li>
        <li class="lines"></li>
        <li class="points"></li>
        <li class="lines"></li>
      </ul>
      <div class="highlights__wrapper">
        <p><i class="ri-global-line"></i> Website Development</p>
        <p><i class="ri-palette-line"></i> UX/UI Design</p>
        <p><i class="ri-tools-fill"></i> Full-Stack Mindset</p>
      </div>
    </div>
    <div class="goals__wrapper">
      <div class="goal">
        <h1><i class="ri-terminal-line"></i>Why I code?</h1>
        <p>My goal is to write <span>maintainable, clean, and understandable code</span> that makes development an enjoyable experience. To me, programming is an <span>art</span>: combining creativity and logic to transform ideas into reality. Every project I work on is an opportunity to keep <span>learning</span> and <span>growing</span>.</p>
      </div>
      <div class="objectives__wrapper">
        <div class="objective">
          <h1>10 <i class="ri-add-line"></i></h1>
          <p>Completed Projects</p>
        </div>
        <div class="objective">
          <h1>95 <i class="ri-percent-line"></i></h1>
          <p>Client Satisfaction</p>
        </div>
        <div class="objective">
          <h1>1 <i class="ri-add-line"></i></h1>
          <p>Years of experience</p>
        </div>
      </div>
    </div>
  </section>

  <!-- ========== TECH STACK SECTION ========== -->
  <!-- <section class="stack__section">
    <div class="stack__container">
      <h1><i class="ri-code-s-slash-line"></i> Tech Stack</h1>

      <div class="stack__wrapper">
        <div class="stack__category">
          <div class="title">
            <h2><i class="ri-global-line"></i> Frontend</h2>
          </div>
          <div class="category">
            <img src="src/assets/index/teck_stack/frontend/HTML.svg" alt="" />
            <p>HTML</p>
          </div>
          <div class="category">
            <img src="src/assets/index/teck_stack/frontend/CSS.svg" alt="" />
            <p>CSS</p>
          </div>
          <div class="category">
            <img src="src/assets/index/teck_stack/frontend/JavaScript.svg" alt="" />
            <p>JavaScript</p>
          </div>
          <div class="category">
            <img src="src/assets/index/teck_stack/frontend/Bootstrap.svg" alt="" />
            <p>Bootstrap</p>
          </div>
        </div>
        <div class="stack__category">
          <div class="title">
            <h2><i class="ri-server-line"></i> Backend</h2>
          </div>
          <div class="category">
            <img src="src/assets/index/teck_stack/backend/java.svg" alt="" />
            <p>Java</p>
          </div>
          <div class="category">
            <img src="src/assets/index/teck_stack/backend/python.svg" alt="" />
            <p>Python</p>
          </div>
          <div class="category">
            <img src="src/assets/index/teck_stack/backend/laravel.svg" alt="" />
            <p>Laravel</p>
          </div>
          <div class="category">
            <img src="src/assets/index/teck_stack/backend/mysql.svg" alt="" />
            <p>MySQL</p>
          </div>
        </div>
        <div class="stack__category">
          <div class="title">
            <h2><i class="ri-tools-fill"></i> Tools</h2>
          </div>
          <div class="category">
            <img src="src/assets/index/teck_stack/tools/git.svg" alt="" />
            <p>Git</p>
          </div>
          <div class="category">
            <img src="src/assets/index/teck_stack/tools/github.svg" alt="" />
            <p>GitHub</p>
          </div>
          <div class="category">
            <img src="src/assets/index/teck_stack/tools/vscode.svg" alt="" />
            <p>VS Code</p>
          </div>
          <div class="category">
            <img src="src/assets/index/teck_stack/tools/nodejs.svg" alt="" />
            <p>Node.js</p>
          </div>
        </div>
      </div>
    </div>
  </section> -->

  <!-- ========== TECH STACK SECTION ========== -->
  <div class="tech__section">
    <div class="tech__container">
      <div class="title">
        <h1>Tech Stack</h1>
        <i class="ri-code-s-slash-line"></i>
      </div>
      <div class="tech__wrapper">
        <div class="tech-item">
          <div class="icon">
            <img src="src/assets/index/teck_stack/frontend/HTML.svg" alt="" />
          </div>
          <div class="text">
            <h1>HTML</h1>
            <p>Markup Language</p>
            <progress value="90" max="100"/>
          </div>
        </div>
        <div class="tech-item">
          <div class="icon">
            <img src="src/assets/index/teck_stack/frontend/CSS.svg" alt="" />
          </div>
          <div class="text">
            <h1>CSS</h1>
            <p>Styling Language</p>
            <progress value="90" max="100"/>
          </div>
        </div>
        <div class="tech-item">
          <div class="icon">
            <img src="src/assets/index/teck_stack/frontend/JavaScript.svg" alt="" />
          </div>
          <div class="text">
            <h1>JavaScript ES6+</h1>
            <p>Frontend Logic</p>
            <progress value="90" max="100"/>
          </div>
        </div>
        <div class="tech-item">
          <div class="icon">
            <img src="src/assets/index/teck_stack/frontend/Bootstrap.svg" alt="" />
          </div>
          <div class="text">
            <h1>Bootstrap</h1>
            <p>UI Framework</p>
            <progress value="90" max="100"/>
          </div>
        </div>
        <div class="tech-item">
          <div class="icon">
            <img src="src/assets/index/teck_stack/backend/java.svg" alt="" />
          </div>
          <div class="text">
            <h1>Java</h1>
            <p>Programming Language</p>
          </div>
        </div>
        <div class="tech-item">
          <div class="icon">
            <img src="src/assets/index/teck_stack/backend/python.svg" alt="" />
          </div>
          <div class="text">
            <h1>Python</h1>
            <p>Programming Language</p>
          </div>
        </div>
        <div class="tech-item">
          <div class="icon">
            <img src="src/assets/index/teck_stack/backend/laravel.svg" alt="" />
          </div>
          <div class="text">
            <h1>Laravel</h1>
            <p>PHP Framework</p>
          </div>
        </div>
        <div class="tech-item">
          <div class="icon">
            <img src="src/assets/index/teck_stack/backend/mysql.svg" alt="" />
          </div>
          <div class="text">
            <h1>MySQL</h1>
            <p>Relational Database</p>
          </div>
        </div>
        <div class="tech-item">
          <div class="icon">
            <img src="src/assets/index/teck_stack/tools/git.svg" alt="" />
          </div>
          <div class="text">
            <h1>GIT</h1>
            <p>Version Control</p>
            <progress max="100" value="40" />
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- ========== RECENT WORKS SECTION ========== -->
</Layout>
