---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Projects" description="A showcase of my web development projects and creations.">
  <div class="slider">
    <div class="slide-track">
      <div class="slide">
        <div class="tech-item">
          <img src="src/assets/index/teck_stack/frontend/HTML.svg" alt="" />
          <h2>HTML</h2>
        </div>
      </div>
      <div class="slide">
        <div class="tech-item">
          <img src="src/assets/index/teck_stack/frontend/CSS.svg" alt="" />
          <h2>CSS</h2>
        </div>
      </div>
      <div class="slide">
        <div class="tech-item">
          <img src="src/assets/index/teck_stack/frontend/JavaScript.svg" alt="" />
          <h2>JavaScript</h2>
        </div>
      </div>
      <div class="slide">
        <div class="tech-item">
          <img src="src/assets/index/teck_stack/backend/laravel.svg" alt="" />
          <h2>Laravel</h2>
        </div>
      </div>
      <div class="slide">
        <div class="tech-item">
          <img src="src/assets/index/teck_stack/backend/java.svg" alt="" />
          <h2>Java</h2>
        </div>
      </div>
      <div class="slide">
        <div class="tech-item">
          <img src="src/assets/index/teck_stack/backend/mysql.svg" alt="" />
          <h2>MySQL</h2>
        </div>
      </div>
      <div class="slide">
        <div class="tech-item">
          <img src="src/assets/index/teck_stack/tools/vscode.svg" alt="" />
          <h2>VS Code</h2>
        </div>
      </div>
      <div class="slide">
        <div class="tech-item">
          <img src="src/assets/index/teck_stack/frontend/HTML.svg" alt="" />
          <h2>HTML</h2>
        </div>
      </div>
      <div class="slide">
        <div class="tech-item">
          <img src="src/assets/index/teck_stack/frontend/CSS.svg" alt="" />
          <h2>CSS</h2>
        </div>
      </div>
      <div class="slide">
        <div class="tech-item">
          <img src="src/assets/index/teck_stack/frontend/JavaScript.svg" alt="" />
          <h2>JavaScript</h2>
        </div>
      </div>
      <div class="slide">
        <div class="tech-item">
          <img src="src/assets/index/teck_stack/backend/laravel.svg" alt="" />
          <h2>Laravel</h2>
        </div>
      </div>
      <div class="slide">
        <div class="tech-item">
          <img src="src/assets/index/teck_stack/backend/java.svg" alt="" />
          <h2>Java</h2>
        </div>
      </div>
      <div class="slide">
        <div class="tech-item">
          <img src="src/assets/index/teck_stack/backend/mysql.svg" alt="" />
          <h2>MySQL</h2>
        </div>
      </div>
      <div class="slide">
        <div class="tech-item">
          <img src="src/assets/index/teck_stack/tools/vscode.svg" alt="" />
          <h2>VS Code</h2>
        </div>
      </div>
    </div>
  </div>
</Layout>
