---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Services" description="Web development and design services to boost your online presence">
  <h1>Services</h1> <br>
  <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Asperiores vitae minima dolore ipsum, fugit est sapiente recusandae nostrum, fugiat nesciunt eaque quo repellat in tempore optio ducimus dolor ullam. Ipsam!</p>
  <br>
  <h2>Lorem</h2>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae, nisi quaerat vero vitae magni qui sint molestiae inventore quibusdam dolorum dolores error deleniti. Porro culpa rem corrupti vel, adipisci fugit!</p>
</Layout>