<footer>
  <div class="icons">
    <a href="" rel="noopener noreferrer" target="_blank" title="Facebook"><i class="ri-facebook-circle-fill"></i></a>
    <a href="https://www.instagram.com/jabalera_luis/" rel="noopener noreferrer" target="_blank" title="Instagram"><i class="ri-instagram-line"></i></a>
    <a href="https://github.com/jabaleraluis" rel="noopener noreferrer" target="_blank" title="GitHub"><i class="ri-github-fill"></i></a>
    <a href="https://wa.me/+526311918353" rel="noopener noreferrer" target="_blank" title="WhatsApp"><i class="ri-whatsapp-line"></i></a>
  </div>
  <ul class="links">
    <li><a href="">Home</a></li>
    <li><a href="">About</a></li>
    <li><a href="">Projects</a></li>
    <li><a href="">Contact</a></li>
  </ul>
  <p><i class="ri-copyright-line"></i>2025 - All rights reserved</p>
</footer>
