<footer>
  <div class="icons">
    <a href=""><i class="bi bi-facebook"></i></a>
    <a href=""><i class="bi bi-instagram"></i></a>
    <a href=""><i class="bi bi-github"></i></a>
    <a href=""><i class="bi bi-whatsapp"></i></a>
  </div>
  <div class="links">
    <a href="">Home</a>
    <a href="">About</a>
    <a href="">Contact Us</a>
  </div>
  <p><i class="ti ti-copyright"></i> 2025 - All rights reserved</p>
</footer>
