---
import ThemeToggle from "./ThemeToggle.astro";
---

<header>
  <nav class="navbar">
    <a class="user_profile_icon" href="/"><i class="ri-code-s-slash-line"></i></a>

    <button class="menu-toggle" aria-label="Abrir menú">
      <i class="ri-menu-line"></i>
    </button>

    <ul class="menu">
      <li><a href="/">Home</a></li>
      <li><a href="/services">Services</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/contact">Contact</a></li>
      <li><ThemeToggle /></li>
    </ul>
  </nav>
</header>
