<nav class="sidebar">
  <div class="sidebar-top-wrapper">
    <a href="/" class="company-name hide">
      <span>Company</span>
    </a>
    <button class="expand-btn" type="button">
      <i class="ri-sidebar-unfold-line expand-icon"></i>
    </button>
  </div>
  <div class="search-wrapper">
    <i class="ri-search-line"></i>
    <input type="text" placeholder="Search..." />
  </div>
  <div class="sidebar-links menu-links">
    <ul>
      <li>
        <a href="/" class="tooltip">
          <i class="ri-home-2-line"></i>
          <span class="link hide">Home</span>
          <span class="tooltip-content">Home</span>
        </a>
      </li>
      <li>
        <a href="/services" class="tooltip">
          <i class="ri-settings-3-line"></i>
          <span class="link hide">Services</span>
          <span class="tooltip-content">Services</span>
        </a>
      </li>
      <li>
        <a href="/projects" class="tooltip">
          <i class="ri-code-s-slash-line"></i>
          <span class="link hide">Projects</span>
          <span class="tooltip-content">Projects</span>
        </a>
      </li>
      <li>
        <a href="/about" class="tooltip">
          <i class="ri-user-line"></i>
          <span class="link hide">About</span>
          <span class="tooltip-content">About</span>
        </a>
      </li>
      <li>
        <a href="/contact" class="tooltip">
          <i class="ri-chat-3-line"></i>
          <span class="link hide">Contact</span>
          <span class="tooltip-content">Contact</span>
        </a>
      </li>
    </ul>
  </div>
  <hr />
  <div class="sidebar-links integrations">
    <h2 class="hide">Integrations</h2>
    <ul>
      <li>
        <a href="/" class="tooltip">
          <i class="ri-facebook-circle-fill"></i>
          <span class="link hide">Facebook</span>
          <span class="tooltip-content">Facebook</span>
        </a>
      </li>
      <li>
        <a href="/" class="tooltip">
          <i class="ri-instagram-line"></i>
          <span class="link hide">Instagram</span>
          <span class="tooltip-content">Instagram</span>
        </a>
      </li>
      <li>
        <a href="/" class="tooltip">
          <i class="ri-github-fill"></i>
          <span class="link hide">GitHub</span>
          <span class="tooltip-content">GitHub</span>
        </a>
      </li>
      <li>
        <a href="/" class="tooltip">
          <i class="ri-whatsapp-line"></i>
          <span class="link hide">Whatsapp</span>
          <span class="tooltip-content">Whatsapp</span>
        </a>
      </li>
    </ul>
  </div>
  <div class="profile-wrapper">
    <div class="avatar-picture">
      <img src="src/assets/profile-picture/profile.jpg" alt="" class="avatar-img" />
      <div class="online-status"></div>
    </div>
    <div class="avatar-name hide">
      <div class="user-name hide">Luis Jabalera</div>
      <div class="user-email">jabaleraluisangel@gmail.com</div>
    </div>
    <a href="#logout" class="logout hide">
      <i class="ri-logout-circle-r-line"></i>
    </a>
  </div>
</nav>