<div>
  <div class="theme__switcher">
    <!-- <div class="icon" data-theme="system">
      <button><i class="ri-computer-line"></i></button>
      <span class="tooltip">System Theme</span>
    </div> -->
    <div class="theme__icon" data-theme="light">
      <button><i class="ri-sun-line"></i></button>
      <span class="theme__tooltip">Light Theme</span>
    </div>
    <div class="theme__icon" data-theme="dark">
      <button><i class="ri-moon-clear-line"></i></button>
      <span class="theme__tooltip">Dark Theme</span>
    </div>
  </div>
</div>
