---
const { title, description } = Astro.props;
---

<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      is:inline
      set:html={`(function(){
        const savedTheme = localStorage.getItem("theme") || "light";
        if(savedTheme === "dark"){
          document.documentElement.classList.add("dark");
        }
      })();`}
    />
    <link rel="stylesheet" href="/src/styles/style.css" />
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.6.0/fonts/remixicon.css" rel="stylesheet" />
    <link rel="shortcut icon" href="/src/assets/icon/code.svg" type="image/x-icon" />
    <meta name="description" content={description} />
    <title>{title}</title>
  </head>
</html>
