---
import Navbar from "@components/structure/Navbar.astro";
import Footer from "@components/structure/Footer.astro";
import "../styles/style.css";

const { title, description } = Astro.props;
---

<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.6.0/fonts/remixicon.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@tabler/icons-webfont@latest/dist/tabler-icons.min.css" />
    <script
      is:inline
      set:html={`(function(){
        const savedTheme = localStorage.getItem("theme") || "light";
        if(savedTheme === "dark"){
          document.documentElement.classList.add("dark");
        }
      })();`}
    />
    <link rel="shortcut icon" href="/src/assets/icon/code.svg" type="image/x-icon" />
    <meta name="description" content={description} />
    <title>{title}</title>
  </head>
  <body>
    <header>
      <Navbar />
    </header>
    <main>
      <slot />
    </main>
    <Footer />
    <script type="module" src="/src/scripts/script.js"></script>
  </body>
</html>
